<body>
    <a href="/">Home</a>
    <div>
    </div>
    <a href="/about/">About</a>
    <div>
    </div>
    <a href="/blog/">Blog</a>

    <h1>My Astro Learning Blog</h1>
    <p>Where I ramble about me learning astro, day one making first astro application</p>
</body>
